@{
    if (Session.Keys.Count == 0)
    {
        Response.Redirect("~/Index/Login");
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - BackOffice Mundo Scoot  </title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="Scott, Campañas, Regional" name="keywords">
    <meta content="BrainRed Studio" name="author">
    <meta content="BackOffice de Campañas de Kimberly Clark" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="~/Content/favicon.png" rel="shortcut icon">
    <link href="~/Content/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
    <link href="~/Content/select2.min.css" rel="stylesheet">
    <link href="~/Content/daterangepicker.css" rel="stylesheet">
    <link href="~/Content/dropzone.css" rel="stylesheet">
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/fullcalendar.min.css" rel="stylesheet">
    <link href="~/Content/perfect-scrollbar.min.css" rel="stylesheet">
    <link href="~/Content/slick.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
</head>

<!--  HEAD  -->
<body>
    <div class="all-wrapper menu-side menu-top solid-bg-all">
        <div class="top-menu-secondary with-overflow color-scheme-dark">
            <!--------------------
            START - Messages Link in secondary top menu
            -------------------->
            <div class="logo-w menu-size">
                <a class="logo" href=""><img src="~/Content/img/logo-scott.png"><span>BackOffice Scott</span></a>
            </div>
            <!--------------------
            START - Search Top Menu Controls
            -------------------->
            <div class="top-menu-controls">
                <div class="element-search d-none d-xl-block">
                    <input placeholder="Ingresa la campaña..." type="text">
                </div>
                <div class="top-icon top-search d-xl-none">
                    <i class="os-icon os-icon-ui-37"></i>
                </div>
                <!--------------------
                START - User avatar and menu in secondary top menu
                -------------------->
                <div class="logged-user-w">
                    <div class="logged-user-i">
                        <div class="avatar-w">
                            <img alt="" src="~/Content/img/avatar1.jpg">
                        </div>
                        <div class="logged-user-menu">
                            <div class="logged-user-avatar-info">
                                <div class="avatar-w">
                                    <img alt="" src="~/Content/img/avatar1.jpg">
                                </div>
                                <div class="logged-user-info-w">
                                    <div class="logged-user-name">
                                        @Session["Nombre"]
                                    </div>
                                    <div class="logged-user-role">
                                        @Session["Rol"]
                                    </div>
                                </div>
                            </div>
                            <div class="bg-icon">
                                <i class="os-icon os-icon-wallet-loaded"></i>
                            </div>
                            <ul>

                                <li>
                                    <a href="users_profile_big.html"><i class="os-icon os-icon-user-male-circle2"></i><span>Profile Details</span></a>
                                </li>

                                <li>
                                    <a href="#"><i class="os-icon os-icon-others-43"></i><span>Notifications</span></a>
                                </li>
                                <li>
                                    <a href="@Url.Action("LogOut","Index")"><i class="os-icon os-icon-signs-11"></i><span>Logout</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--------------------
                END - User avatar and menu in secondary top menu
                -------------------->
            </div>
            <!--------------------
            END - Top Menu Controls
            -------------------->
        </div>
        <div class="layout-w">
            @Html.Partial("_MenuLeft")
            <div class="content-w">
                <div class="content-i">
                    <div class="content-box">
                        <!-- ZOna editablee-->
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <div class="display-type"> </div>
    </div>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/select2.full.min.js"></script>
    <script src="~/Scripts/jquery.barrating.min.js"></script>
    <script src="~/Scripts/ckeditor.js"></script>
    <script src="~/Scripts/validator.min.js"></script>
    <script src="~/Scripts/daterangepicker.js"></script>
    <script src="~/Scripts/ion.rangeSlider.min.js"></script>
    <script src="~/Scripts/dropzone.js"></script>
    <script src="~/Scripts/mindmup-editabletable.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/fullcalendar.min.js"></script>
    <script src="~/Scripts/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/Scripts/tether.min.js"></script>
    <script src="~/Scripts/slick.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <script src="~/Scripts/alert.js"></script>
    <script src="~/Scripts/button.js"></script>
    <script src="~/Scripts/carousel.js"></script>
    <script src="~/Scripts/collapse.js"></script>
    <script src="~/Scripts/dropdown.js"></script>
    <script src="~/Scripts/modal.js"></script>
    <script src="~/Scripts/tab.js"></script>
    <script src="~/Scripts/tooltip.js"></script>
    <script src="~/Scripts/popover.js"></script>
    <script src="~/Scripts/main.js?version=4.2.0"></script>

</body>
</html>